@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import './variables.css';

html {
  font-size: 62.5%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: var(--color-light-pink);
  font-family: "Lato", sans-serif;
  margin: 0;
}

.container {
  max-width: 144rem;
  width: 90%;
  margin: 0 auto;
  padding: var(--medium-padding) 0;
}

.section {
  margin-top: var(--big-margin);
}

/*Header */
.header {
  background-color: var(--dark-purple);
  width: 100%;
  height: 6.4rem;
  cursor: pointer;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  opacity: 0;
  -webkit-animation: dropdown 2s ease-out 1s forwards;
  animation: dropdown 2s ease-out 1s forwards;
}

.logo {
  height: 100%;
  width: 10.4rem;
}

.nav-bar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: var(--header-font-size);
  font-weight: 500;
  gap: var(--big-gap);
  list-style-type: none;
}

.nav-bar-list a {
  color: var(--color-white);
  font-size: 2rem;
  position: relative;
}

.nav-bar-list a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
  height: 2px;
  background-color: var(--color-white);
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.nav-bar-list a:hover {
  cursor: pointer;
  font-size: 2.5rem;
}

.nav-bar-list a:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.basket img {
  width: 2.4rem;
  height: 2.4rem;
}

.basket:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.item-number {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  color: var(--color-white);
}

/*Cart Tab */
.basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.burger-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  height: 100vh;
  width: 30%;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  background-color: var(--dark-purple);
  cursor: pointer;
}

.burger-list {
  color: var(--color-white);
  text-decoration: none;
  padding: 0.5rem 0;
  font-size: 2.4rem;
}

.burger-list:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.hamburger {
  display: none;
}

.bar {
  height: 4px;
  width: 100%;
  background-color: white;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  z-index: 100;
  position: absolute;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 10px;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  z-index: 1000;
  position: absolute;
}

/*Hero Section*/
.hero {
  position: relative;
  width: 100%;
  z-index: 10;
}

.splide {
  height: 100%;
}

.splide__slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.slide-1 {
  background-image: url('../images/hero-img.jpg');
}

.slide-2 {
  background-image: url('../images/hero-img-2.jpg');
}

.slide-3 {
  background-image: url('../images/hero-img-3.jpg');
}

.slider-2-text {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: var(--big-margin);
  color: var(--dark-purple);
  text-align: center;
}

.slider-3-text {
  position: absolute;
  top: 20%;
  left: 45%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: var(--big-margin);
  color: var(--dark-purple);
  text-align: center;
}

.slider-header {
  font-size: var(--h1-third-size);
  color: var(--dark-purple);
  font-weight: var(--bold);
  line-height: 1.5;
  font-family: "Bodoni Moda";
}

.slider-paraghrap {
  font-size: var(--div-header);
  line-height: 1.5;
  font-weight: var(--semi-bold);
  font-family: "Bodoni Moda";
}

.hero-text {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 0;
  -webkit-animation: dropdown 2s ease-out 1s forwards;
  animation: dropdown 2s ease-out 1s forwards;
}

.hero-header {
  font-size: var(--h1-font-size);
  color: var(--color-white);
  font-family: "Bodoni Moda";
  font-weight: var(--bold);
  margin-bottom: 6.4rem;
}

.hero-paraghrap {
  text-align: center;
  font-size: var(--div-header);
  color: var(--color-white);
  margin-bottom: var(--medium-margin);
  font-weight: var(--semi-bold);
  font-family: "Bodoni Moda";
  margin-bottom: 6.4rem;
}

.btn {
  font-size: var(--btn-font-size);
  color: var(--color-white);
  background-color: var(--dark-purple);
  padding: var(--small-padding);
  border-radius: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 24rem;
}

.btn:hover {
  background-color: var(--color-light-pink);
  border: 2px solid var(--dark-purple);
  color: var(--dark-purple);
}

/*shop section*/
.shop-section-title {
  text-align: center;
  margin: var(--medium-margin) 0;
}

.shop {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr var(--small-gap) 1fr var(--small-gap) 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--small-gap);
  margin-top: var(--big-margin);
}

.shopping-area {
  width: 100%;
  border-radius: 2rem;
  position: relative;
  cursor: pointer;
}

.shopping-area img {
  width: 100%;
  border-radius: 2rem;
  position: relative;
}

.shop-area {
  position: absolute;
  background-color: var(--color-light-pink);
  color: var(--dark-purple);
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 2.2rem;
  text-transform: uppercase;
  padding: 1.2rem 0;
  border-radius: 1rem;
  font-weight: var(--semi-bold);
  letter-spacing: 1.5;
  width: 60%;
  text-align: center;
}

.shop-area:hover {
  border: 3px solid var(--dark-purple);
}

.result-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr var(--big-gap) 1fr var(--big-gap) 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--big-gap);
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: var(--medium-margin);
}

.search {
  font-size: var(--paragraph-font-size);
  padding: var(--small-padding);
  width: 50%;
  border: 2px solid var(--dark-purple);
  color: var(--dark-purple);
  margin-bottom: var(--medium-margin);
  border-radius: 1rem;
}

.search:focus {
  border: 3px solid var(--dark-purple);
  width: 55%;
}

.error-message {
  font-size: var(--subheader-font-size);
  text-align: center;
  color: var(--dark-purple);
  font-weight: var(--semi-bold);
  display: none;
}

/*about Section*/
.div-header {
  font-size: var(--div-header);
  font-family: "Playfair Display", serif;
  font-weight: 600;
  margin-bottom: var(--medium-margin);
  letter-spacing: 5px;
}

.about-description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5.4rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 5.4rem;
}

.right img {
  border-radius: 2rem;
  width: 100%;
  -ms-flex-line-pack: center;
  align-content: center;
}

.new-paraghrap {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: var(--medium-margin);

}

.div-subheader {
  color: var(--dark-purple);
  text-align: center;
  font-weight: 600;
  line-height: 1.5;
  font-style: italic;
  font-size: 2rem;
  letter-spacing: 2px;
}

.name {
  color: var(--dark-purple);
  font-style: italic;
  font-weight: 600;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

.faqs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr var(--big-margin) 1fr;
  grid-template-columns: repeat(2, 1fr);
  margin-top: var(--big-margin);
  gap: var(--big-margin);
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.8rem;
}

.faqs-text {
  line-height: 1.5;

}

.faqs-text p {
  font-size: 1.8rem;
}

.faqs-box {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background-color: #ffffff;
  border: 1px solid var(--dark-purple);
  border-radius: 5px;
  margin-top: var(--medium-margin);
}

.box {
  border-bottom: 1px solid var(--dark-purple);
}

.box:last-child {
  border-bottom: none;
}

.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  padding: 1.2rem;
  color: var(--dark-purple);
}

.questions h2 {
  font-weight: 600;
  font-size: 2rem;
}

.answer {
  font-size: 1.8rem;
  color: var(--color-dark-grey);
  display: none;
  padding: 1.2rem;
  line-height: 1.2;
  -webkit-animation: fadeIn 1.5s ease-in-out;
  animation: fadeIn 1.5s ease-in-out;
}

.display-answer {
  display: block;
  height: auto;
}

/*Features*/
.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr var(--small-gap) 1fr var(--small-gap) 1fr var(--small-gap) 1fr;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--color-light-pink);
  color: var(--color-dark);
  gap: var(--small-gap);
}

.feature-card {
  -webkit-box-shadow: 9px 10px 9px 2px rgb(209, 198, 209);
  box-shadow: 9px 10px 9px 2px rgb(209, 198, 209);
  padding: 2rem;
  border-radius: 2rem;
}

.feature-card:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.feature-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: var(--header-font-size);
  font-weight: var(--semi-bold);
  color: var(--dark-purple);
  margin-bottom: var(--small-margin);
}

.feature-text {
  font-size: var(--paragraph-font-size);
  line-height: 1.3;
  margin-top: 0;
}

.feature-icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1.2rem;
  color: var(--dark-purple);
}

/*testimonials */
.user-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr var(--small-gap) 1fr var(--small-gap) 1fr var(--small-gap) 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--small-gap);
}

.user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-radius: 2rem;
  position: relative;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: var(--medium-padding);
}

.user-box::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;
  background-color: var(--dark-purple);
  -webkit-clip-path: polygon(0 32%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 32%, 100% 0, 100% 100%, 0% 100%);
  z-index: -1;
}

.user-box:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  cursor: pointer;
}

/*contact Section */
.contact-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr var(--big-margin) 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--big-margin);
}

.contact-list,
.contact-form {
  width: 100%;
  gap: 0;
  margin-top: 0;
}

.contact-list,
.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: var(--small-gap);
}

.contact-type {
  font-size: var(--subheader-font-size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin-bottom: var(--small-margin);
}

h5 {
  font-weight: var(--semi-bold);
}

.icon-svg {
  width: 2rem;
}

.contact-info {
  color: var(--color-dark);
  font-size: var(--paragraph-font-size);
}

.contact-form {
  background-color: var(--color-white);
  padding: var(--medium-padding);
  border-radius: 2rem;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form-group input[type="email"],
.form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: var(--small-gap);
  font-size: var(--paragraph-font-size);
  color: var(--dark-purple);
  outline: none;
  border: 2px solid var(--dark-purple);
  border-radius: 5px;
}

.form-group input[type="email"]:focus,
.form-group input[type="text"]:focus,
.form-group textarea:focus {
  border: 4px solid var(--dark-purple);
}

label {
  font-size: var(--subheader-font-size);
  font-weight: var(--semi-bold);
  color: var(--dark-purple);
  margin-bottom: var(--small-margin);
  text-align: left;
  width: 100%;
}

.btn-submit {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 20px auto;
  padding: 10px;
  cursor: pointer;
  background-color: var(--dark-purple);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: var(--subheader-font-size);
}

.btn-submit:hover {
  background-color: var(--color-light-pink);
  border: 2px solid var(--dark-purple);
  color: var(--dark-purple);
}

.contact-slogan {
  color: var(--dark-purple);
  font-size: var(--header-font-size);
  font-weight: var(--semi-bold);
}

.contact-list p {
  font-size: var(--paragraph-font-size);
  line-height: 1.5;
}

.footer-icons {
  margin: 0 auto;
}

.social-links {
  width: 3.2rem;
  height: 3.2rem;
}

.approve-window {
  position: fixed;
  top: 100px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 50%;
  padding: 4.8rem;
  margin: 0 auto;
  background-color: var(--dark-purple);
  color: var(--color-white);
  text-align: center;
  z-index: 1000;
}

.approve-window h2 {
  font-size: var(--subheader-font-size);
  margin-bottom: var(--medium-margin);
}

.approve-window p {
  font-size: var(--paragraph-font-size);
  line-height: 1.2;
}

.close {
  font-size: var(--subheader-font-size);
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-light-pink);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 100;
  display: block;
}

.hidden {
  display: none;
}

/*Products*/
.card-clothes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr var(--big-gap) 1fr var(--big-gap) 1fr var(--big-gap) 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--big-gap);
  margin: var(--big-margin) 0;
}

.shop-card {
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: var(--small-margin);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  overflow: hidden;
}

.shop-card img {
  width: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.shop-card img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.description {
  color: var(--dark-purple);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: var(--small-margin);
  padding: var(--medium-padding);
}

.product,
.price {
  font-size: var(--subheader-font-size);
  text-transform: uppercase;
  font-weight: var(--semi-bold);
}

.details {
  width: 100%;
  background-color: var(--dark-purple);
  font-size: var(--paragraph-font-size);
  color: var(--color-white);
  font-weight: var(--semi-bold);
  text-transform: uppercase;
  padding: var(--small-padding);
  border-radius: 1rem;
  text-align: center;
}

.details:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
}

/*detail info*/
.detail-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 4.8rem 55%;
  grid-template-columns: 40% 55%;
  gap: 4.8rem;
  margin: 0 auto;
  display: none;
  width: 90%;
}

.detail-img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
}

.detail-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: var(--small-gap);
  margin: 0 auto;
}

.product-name {
  font-size: var(--div-header);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--dark-purple);
  font-family: "Playfair Display", serif;
  position: relative;

}

.product-name::after,
.full-description::after {
  content: "";
  display: block;
  height: 1px;
  background-color: var(--dark-purple);
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -8px;
}

.product-price,
.size-box p {
  font-size: var(--subheader-font-size);
  font-weight: var(--semi-bold);
}

.full-description {
  font-size: var(--paragraph-font-size);
  line-height: 1.5;
  position: relative;
}

.size-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: var(--big-gap);
}

.size {
  border: 2px solid var(--dark-purple);
  border-radius: 2px;
  font-size: var(--paragraph-font-size);
  width: 4.8rem;
  height: 4.8rem;
  margin-top: var(--small-margin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: var(--semi-bold);
  color: var(--dark-purple);
}

.size:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
  background-color: var(--dark-purple);
  color: var(--color-white);
}

.cards-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: var(--medium-margin);
  padding-top: 0;
}

.bag {
  display: inline-block;
  margin-top: var(--big-margin);
}

.cart-btn:hover,
.add-btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  background-color: var(--dark-purple);
  color: var(--color-white);
}

.add-btn,
.cart-btn {
  margin: var(--medium-margin) 0;
  width: 50%;
  text-align: center;
  font-size: var(--subheader-font-size);
  color: var(--dark-purple);
  border: 2px solid var(--dark-purple);
  display: block;
  font-size: var(--btn-font-size);
  padding: var(--small-padding);
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: var(--semi-bold);
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: var(--small-gap);
  cursor: pointer;
}

.card {
  width: 6.4rem;
  height: auto;
}

/*footer*/
.footer {
  width: 100%;
  background-color: var(--dark-purple);
  color: var(--color-white);
  padding: var(--medium-padding);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr var(--big-gap) 1fr var(--big-gap) 1fr var(--big-gap) 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--big-gap);
}

.footer-col {
  font-size: var(--paragraph-font-size);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.links {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.links li {
  list-style: none;
  margin-bottom: var(--small-margin);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: var(--paragraph-second-size);
}

.footer-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.footer h4 {
  font-size: var(--subheader-font-size);
  text-align: center;
  letter-spacing: 2px;
  text-transform: capitalize;
  width: 100%;
  margin-bottom: var(--medium-margin);
  font-weight: var(--semi-bold);
}

.footer-contact {
  color: var(--color-white);
  text-align: center;
  font-size: var(--paragraph-second-size);
  margin-bottom: var(--small-margin);

}

.footer-logo {
  margin: 0 auto;
  width: 60%;
  display: block;
}

.author {
  text-align: center;
  line-height: 1.5;
}

/*KeyFrames*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes dropdown {
  0% {
    max-height: 0;
    opacity: 0;
  }

  100% {
    max-height: 6.4rem;
    opacity: 1;
  }
}

@keyframes dropdown {
  0% {
    max-height: 0;
    opacity: 0;
  }

  100% {
    max-height: 6.4rem;
    opacity: 1;
  }
}